In [1]:
from pathlib import Path

import pandas as pd

directory = Path().resolve().parent

# Load data
main_file = pd.read_csv(str(directory) + '/crawling-and-preprocessing/content/data_prep_2805_3.csv')
main_file.head()

,Unnamed: 0.1,Unnamed: 0,number,place,country,continent,roughguide link,introduction,description,full_text,...,NE_no_tag,non_NE,non_NE_nouns,freq_nouns,non_NE_tags,freq_NE_int,freq_noun_int,nouns_cleaned,singular_nouns,singular_cleaned_nouns
0,0,0,1,Waikiki,USA,America,https://www.roughguides.com/usa/hawaii/waikiki/,"Built on a reclaimed swamp, two miles east of ...","In places, the parallel Waikiki Beach narrows ...","Built on a reclaimed swamp, two miles east of ...",...,"['Honolulu', 'Waikiki', 'the Ala Wai canal', '...","['Built', 'on', 'a', 'reclaimed', 'swamp', ','...","['swamp', 'miles', 'downtown', 'island', 'city...","[('swamp', 1), ('miles', 1), ('downtown', 1), ...","[('swamp', 'wetland'), ('miles', 'linear_unit'...","[1, 2, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, ...","['swamp', 'miles', 'downtown', 'island', 'city...","['Swamp', 'Mile', 'Downtown', 'Island', 'City'...","['Swamp', 'Mile', 'Downtown', 'Island', 'City'..."
1,1,1,2,The Florida Keys,USA,America,https://www.roughguides.com/usa/florida/florid...,"Folklore, films and widespread hearsay have gi...","Beach view with a vivid sunset at Key West, Fl...","Folklore, films and widespread hearsay have gi...",...,"['FLORIDA', 'Cuba', 'Key West', 'Florida', 'Ke...","['Folklore', ',', 'films', 'and', 'widespread'...","['Folklore', 'films', 'hearsay', 'KEYS', 'mile...","[('Folklore', 1), ('films', 1), ('hearsay', 1)...","[('Folklore', 'lore'), ('films', 'product'), (...","[1, 4, 3, 3, 2, 1, 3, 1, 2, 6, 4, 3, 3, 3, 1, 1]","[1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...","['folklore', 'films', 'hearsay', 'keys', 'mile...","['Folklore', 'Film', 'Hearsay', 'Key', 'Mile',...","['Folklore', 'Film', 'Hearsay', 'Key', 'Mile',..."
2,2,2,3,Yellowstone National Park,USA,America,https://www.roughguides.com/usa/rockies/yellow...,America’s oldest and easily its most famous na...,Not only does Yellowstone deliver jaw-dropping...,America’s oldest and easily its most famous na...,...,"['America', 'YELLOWSTONE NATIONAL PARK', 'Yell...","['’s', 'oldest', 'and', 'easily', 'its', 'most...","['park', 'YELLOWSTONE', 'NATIONAL', 'PARK', 'v...","[('park', 3), ('YELLOWSTONE', 1), ('NATIONAL',...","[('park', 'tract'), ('YELLOWSTONE', '-'), ('NA...","[1, 1, 4, 1, 4, 1, 4]","[3, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['park', 'yellowstone', 'national', 'park', 'v...","['Park', 'Yellowstone', 'National', 'Park', 'V...","['Park', 'Yellowstone', 'National', 'Park', 'V..."
3,3,3,4,The Big Island,USA,America,https://www.roughguides.com/usa/hawaii/big-isl...,Although the Big Island of Hawaii could hold a...,"Thanks to the Kilauea volcano, which has destr...",Although the Big Island of Hawaii could hold a...,...,"['the Big Island of Hawaii', 'Captain Cook’s',...","['Although', 'the', 'Big', 'Island', 'of', 'co...","['Island', 'islands', 'room', 'population', 't...","[('Big', 4), ('Island', 4), ('islands', 1), ('...","[('Big', '-'), ('Island', 'land'), ('islands',...","[1, 1, 1, 1, 1, 7, 1, 2, 7, 1, 1, 3, 3, 1, 1, ...","[4, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, ...","['island', 'islands', 'room', 'population', 't...","['Island', 'Island', 'Room', 'Population', 'To...","['Island', 'Island', 'Room', 'Population', 'To..."
4,4,4,5,The Great Plains,USA,America,https://www.roughguides.com/usa/great-plains/,The rolling hills and vast grasslands of the G...,"The Plains also share a complex, fascinating h...",The rolling hills and vast grasslands of the G...,...,"['the Great Plains', 'Crazy Horse', 'Sitting B...","['The', 'rolling', 'hills', 'and', 'vast', 'gr...","['hills', 'grasslands', 'Great', 'home', 'adve...","[('hills', 2), ('grasslands', 1), ('Great', 4)...","[('hills', 'natural_elevation'), ('grasslands'...","[4, 1, 1, 1, 2, 2, 3, 4, 1, 1, 4, 2, 4, 1, 1, ...","[2, 1, 4, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...","['hills', 'grasslands', 'great', 'home', 'adve...","['Hill', 'Grassland', 'Great', 'Home', 'Advent...","['Hill', 'Grassland', 'Great', 'Home', 'Advent..."

In [2]:
top3_places_df = main_file[['place', 'singular_cleaned_nouns', 'freq_noun_int']]
top3_places_df.head()

,place,singular_cleaned_nouns,freq_noun_int
0,Waikiki,"['Swamp', 'Mile', 'Downtown', 'Island', 'City'...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, ..."
1,The Florida Keys,"['Folklore', 'Film', 'Hearsay', 'Key', 'Mile',...","[1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ..."
2,Yellowstone National Park,"['Park', 'Yellowstone', 'National', 'Park', 'V...","[3, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,The Big Island,"['Island', 'Island', 'Room', 'Population', 'To...","[4, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, ..."
4,The Great Plains,"['Hill', 'Grassland', 'Great', 'Home', 'Advent...","[2, 1, 4, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ..."

In [4]:
filter = [None, None, None, None]

In [ ]:
def search_in_all():
    dd


def search_in_filter():
    pass

In [6]:
if all(x is None for x in filter):
    search_in_all()
else:
    search_in_filter()

True

In [12]:
from ast import literal_eval

attr_list = []
freq_list = []
for nes in top3_places_df['singular_cleaned_nouns'].apply(literal_eval):
    attr_list.extend(nes)
for freq in top3_places_df['freq_noun_int'].apply(literal_eval):
    freq_list.extend(map(int, freq))

In [20]:
nes_wc_df = pd.DataFrame({'singular_cleaned_nouns': attr_list, 'freq_noun_int': freq_list})
nes_wc_df = nes_wc_df.sort_values(by=['freq_noun_int'], ascending=False)
nes_wc_df = nes_wc_df.drop_duplicates(subset='singular_cleaned_nouns', keep="first")
nes_wc_df = nes_wc_df[:4]
nes_wc_df

      singular_cleaned_nouns  freq_noun_int
2122                    City             63
30580                   Land             60
18013                  River             54
43694                    Bar             43

In [22]:
filter_list = list(nes_wc_df['singular_cleaned_nouns'])
filter_list

['City', 'Land', 'River', 'Bar']

In [40]:
df_cols = ['place']
df_cols.extend(filter_list)
df_cols

['place', 'City', 'Land', 'River', 'Bar']

In [73]:
df = pd.DataFrame(columns=df_cols)
df

Empty DataFrame
Columns: [place, City, Land, River, Bar]
Index: []

In [74]:
for row in top3_places_df.itertuples():
    place = row.place
    attractions = literal_eval(row.singular_cleaned_nouns)
    freqs = literal_eval(row.freq_noun_int)
    list_of_freqs = [0, 0, 0, 0]
    list_of_freqs = list_of_freqs[:len(filter_list)]
    for attr, freq in zip(attractions, freqs):
        if attr in filter_list:
            index = filter_list.index(attr)
            list_of_freqs[index] = freq
    new_col = [place]
    new_col.extend(list_of_freqs)
    df.loc[len(df.index)] = new_col
df

                        place  City  Land  River  Bar
0                     Waikiki     1     0      0    0
1            The Florida Keys     0     0      0    1
2   Yellowstone National Park     0     0      0    0
3              The Big Island     0     0      0    1
4            The Great Plains     2     4      1    0
..                        ...   ...   ...    ...  ...
95            Picos de Europa     0     0      5    4
96                  Santander     3     0      0    1
97                     Malaga     6     0      0    2
98                      Ibiza     0     0      0    9
99                   Valencia     0     0      0    0

[100 rows x 5 columns]

In [ ]:
'''for row in top3_places_df.itertuples():
    place = row.place
    attractions = literal_eval(row.singular_cleaned_nouns)
    freqs = literal_eval(row.freq_noun_int)
    freq_0 = 0
    freq_1 = 0
    freq_2 = 0
    freq_3 = 0
    for attr, freq in zip(attractions, freqs):
        if attr in filter_list:
            index = filter_list.index(attr)
            if index == 0:
                freq_0 = freq
            if index == 1:
                freq_1 = freq
            if index == 2:
                freq_2 = freq
            if index == 3:
                freq_3 = freq
    df = df.append({'place': place, filter_list[0]: freq_0, filter_list[1]: freq_1, filter_list[2]: freq_2, filter_list[3]: freq_3}, ignore_index=True)
df'''

In [76]:
#df = df[(df[filter_list[0]] != 0) & (df[filter_list[1]] != 0) & (df[filter_list[2]] != 0) & (df[filter_list[3]] != 0)]
df_2 = df[~(df == 0).any(axis=1)]
if len(df_2) > 2:
    df = df_2
df

                place  City  Land  River  Bar
10        Mexico City    63     9      4    4
13           Veracruz    19     9     10    1
14            Chiapas    18    22      9    2
24           Yaletown    29    14      3    7
43              Bahia     4     1     10    2
44  Rio Grande do Sul     4     3      2    2
68            Corsica     4    60      2    4
71             Berlin    34    15      1   11
73      Hamburg Hafen    36     7     13   14
94             Aragon     4     7      4    1

In [77]:
#df['sum'] = df[filter_list[0]] + df[filter_list[1]] + df[filter_list[2]] + df[filter_list[3]]
df['sum'] = df.sum(axis=1)
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_18236\3391135059.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['sum'] = df.sum(axis=1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_18236\3391135059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum'] = df.sum(axis=1)

                place  City  Land  River  Bar  sum
10        Mexico City    63     9      4    4   80
13           Veracruz    19     9     10    1   39
14            Chiapas    18    22      9    2   51
24           Yaletown    29    14      3    7   53
43              Bahia     4     1     10    2   17
44  Rio Grande do Sul     4     3      2    2   11
68            Corsica     4    60      2    4   70
71             Berlin    34    15      1   11   61
73      Hamburg Hafen    36     7     13   14   70
94             Aragon     4     7      4    1   16

In [72]:
df = df.sort_values(by=['sum'], ascending=False)
df = df[:4]
df

            place  City  Land  River  Bar  sum
10    Mexico City    63     9      4    4   80
68        Corsica     4    60      2    4   70
73  Hamburg Hafen    36     7     13   14   70
93         Madrid    40     0      3   21   64